/* Fondu des plats progressif*/
.vignets1 {
  animation: fondu 2s;
  -moz-animation: fondu 2s; /* Firefox */
  -webkit-animation: fondu 2s; /* Safari et Chrome */
  -o-animation: fondu 2s; /* Opera */
}

.vignets2 {
  animation: fondu 6s;
  -moz-animation: fondu 6s; /* Firefox */
  -webkit-animation: fondu 6s; /* Safari et Chrome */
  -o-animation: fondu 6s; /* Opera */
}

.vignets3 {
  animation: fondu 10s;
  -moz-animation: fondu 10s; /* Firefox */
  -webkit-animation: fondu 10s; /* Safari et Chrome */
  -o-animation: fondu 10s; /* Opera */
}

.vignets4 {
  animation: fondu 13s;
  -moz-animation: fondu 13s; /* Firefox */
  -webkit-animation: fondu 13s; /* Safari et Chrome */
  -o-animation: fondu 13s; /* Opera */
}

@keyframes fondu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fondu { /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fondu { /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fondu { /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Loader initial*/
.Load {
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 0.2s 3s forwards;
}

@keyframes fadeout {
  0% {
    transform: rotate(0deg);
    opacity: 100%;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0%;
    visibility: hidden;
  }
}
.spinner {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin 3s linear forwards;
  height: 100px;
  width: 100px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Loader initial*/
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0%;
}

.rose {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0px;
  background: linear-gradient(200deg, #9356DC 0%, #FF79DA 100%);
  padding: 18px;
  width: auto;
  max-width: 200px;
  margin: auto;
  border-radius: 30px;
  cursor: pointer;
}

.rose:hover {
  filter: brightness(1.15);
  box-shadow: grey 8px 8px 20px;
}

header .logo {
  display: flex;
  width: 100%;
  background-color: white;
  margin: auto;
}
header img {
  display: flex;
  height: 40px;
  width: 200px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.headerfleche {
  display: flex;
}
.headerfleche header {
  height: 50px;
}
.headerfleche .logo {
  margin-left: 5%;
  margin-right: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.headerfleche .fleche {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}
.headerfleche .fleche .fa-arrow-left {
  color: black;
}

/* Menu*/
.imgrestau {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.Menu {
  background-color: rgb(240, 240, 240);
  border-radius: 40px 40px 0 0;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 50%;
  padding-bottom: 8%;
}

.menutitle {
  display: flex;
  justify-content: space-between;
}
.menutitle .hearticon {
  width: 20%;
  margin: auto;
  padding-left: 20%;
}

.plat {
  display: flex;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #595858;
  justify-content: space-between;
  height: 80px;
  line-height: 10%;
  padding-left: 5%;
  margin-bottom: 5%;
}

.descriptionplat {
  width: 60%;
}

.prix {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 25%;
}

.valid {
  display: flex;
  width: 20%;
  justify-content: center;
  margin: auto;
  display: none;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a7a5a5;
  height: 60px;
}

.gps {
  border: none;
  background-color: #a7a5a5;
  margin-left: 12px;
  height: 40px;
  font-size: large;
  color: black;
}

footer {
  background-color: #595858;
  color: white;
  padding: 5% 0% 5% 5%;
  line-height: 80%;
  height: auto;
}
footer .imglogofooter {
  width: 150px;
  filter: invert(100%);
  margin-bottom: 2%;
}
footer a {
  text-decoration: none;
  color: white;
}

.footerligne {
  display: flex;
  align-items: center;
  height: 30px;
}
.footerligne p {
  padding-left: 10px;
}

/* Fondu des plats progressif*/
.vignets1 {
  animation: fondu 2s;
  -moz-animation: fondu 2s; /* Firefox */
  -webkit-animation: fondu 2s; /* Safari et Chrome */
  -o-animation: fondu 2s; /* Opera */
}

.vignets2 {
  animation: fondu 6s;
  -moz-animation: fondu 6s; /* Firefox */
  -webkit-animation: fondu 6s; /* Safari et Chrome */
  -o-animation: fondu 6s; /* Opera */
}

.vignets3 {
  animation: fondu 10s;
  -moz-animation: fondu 10s; /* Firefox */
  -webkit-animation: fondu 10s; /* Safari et Chrome */
  -o-animation: fondu 10s; /* Opera */
}

.vignets4 {
  animation: fondu 13s;
  -moz-animation: fondu 13s; /* Firefox */
  -webkit-animation: fondu 13s; /* Safari et Chrome */
  -o-animation: fondu 13s; /* Opera */
}

@keyframes fondu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fondu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fondu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fondu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Loader initial*/
.Load {
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 0.2s 3s forwards;
}

@keyframes fadeout {
  0% {
    transform: rotate(0deg);
    opacity: 100%;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0%;
    visibility: hidden;
  }
}
.spinner {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin 3s linear forwards;
  height: 100px;
  width: 100px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Loader initial*/
.Titres {
  background-color: rgb(239, 239, 239);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 10px 20px;
  text-align: center;
}
.Titres div {
  width: 100%;
}
.Titres .h1 {
  font-size: 3rem;
  font-weight: bolder;
}
.Titres h3 {
  font-size: 1.8rem;
  font-weight: lighter;
}

/*-----------------------------*/
.fonctionnement {
  height: 400px;
  margin: 5%;
}
.fonctionnement h1 {
  padding-left: 5%;
}

.filtre {
  display: flex;
  height: 70px;
  width: 90%;
  border-radius: 20px;
  margin-top: 10%;
  background-color: rgb(239, 239, 239);
  align-items: center;
  position: relative;
  margin-left: 5%;
  box-shadow: 5px 5px 20px #595858;
  font-weight: bold;
}
.filtre :hover {
  background: #F9E7F7;
}
.filtre :hover .icone {
  color: #9356DC;
}

.filtre:active {
  background-color: #FF79DA;
  scale: 1.05;
  transition: 2s;
}

.bouton {
  display: flex;
  background-color: #9356DC;
  color: white;
  align-items: center;
  height: 40%;
  justify-content: center;
  position: absolute;
  left: -5%;
  width: 28px;
  padding: 0px;
  border-radius: 50%;
}

.iconechoix {
  align-items: center;
  display: flex;
  padding-left: 2%;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.icone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding-left: 5%;
}

.filtredescription {
  padding-left: 10%;
}

/*restaur cards*/
.restau {
  background-color: rgb(240, 240, 240);
  height: auto;
  padding: 2%;
}
.restau h1 {
  padding: 10% 0 0 5%;
}
.restau a {
  color: black;
  text-decoration: none;
}

.entete {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.entete h1 {
  padding: 0%;
}

.card {
  background-color: white;
  height: 320px;
  width: 100%;
  margin: auto;
  border-radius: 20px;
  margin-bottom: 10%;
}
.card:hover {
  filter: brightness(1.15);
  box-shadow: grey 8px 8px 20px;
}

.banner {
  height: 80%;
  width: 100%;
  position: relative;
}

.photo1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.nouveau {
  position: absolute;
  width: 25%;
  height: 25px;
  background-color: #99E2D0;
  top: 10%;
  right: 10%;
  text-align: center;
  border-radius: 5px;
  align-items: center;
}
.nouveau h3 {
  margin-top: 0;
  color: green;
}

.description {
  display: flex;
  height: 20%;
  justify-content: space-between;
  line-height: 30%;
  padding-left: 5%;
}

.text {
  width: 80%;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.icon2:hover {
  cursor: pointer;
  opacity: 100%;
  background: linear-gradient(162deg, #FF79DA 0%, #9356DC 100%);
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 1.3s ease-in-out;
  position: relative;
}

.material-icons {
  font-size: 24px;
  line-height: 1;
}

.menugeneral {
  width: 100%;
  position: relative;
  margin-top: -10%;
}
.menugeneral hr {
  width: 20%;
  margin-left: 1%;
  color: #99E2D0;
}

.imgrestau {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.menutitle {
  display: flex;
  justify-content: space-between;
}
.menutitle .hearticon {
  width: 20%;
  margin: auto;
  padding-left: 20%;
}

.plat {
  display: flex;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #595858;
  justify-content: space-between;
  height: 80px;
  line-height: 10%;
  padding-left: 5%;
  margin-bottom: 5%;
}

.descriptionplat {
  display: flex;
  flex-direction: column;
  width: 60%;
  overflow: hidden;
  white-space: nowrap;
}

.prix {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 25%;
}

.valid {
  display: flex;
  width: 20%;
  justify-content: center;
  margin: auto;
  display: none;
}

.plat:hover .valid {
  display: flex;
}

.descriptionplat:active {
  background: red;
}
.descriptionplat:active .valid {
  display: flex;
}

@media screen and (min-width: 700px) {
  header {
    width: 100%;
    height: 60px;
    margin: auto;
  }
  header .logo {
    border-bottom: none;
    margin-bottom: 0;
    height: 100%;
    margin: auto;
  }
  header img {
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
    height: 75%;
    margin: auto;
  }
  .filtregeneral {
    display: flex;
  }
  .filtregeneral .filtre {
    margin-top: 0;
  }
  .fonctionnement {
    height: auto;
  }
  .fonctionnement h1 {
    width: 100%;
  }
  .fonctionnement .iconechoix {
    padding-left: 10%;
  }
  .nouveau {
    max-width: 100px;
  }
  .headerfleche {
    justify-content: space-between;
    padding: 0;
  }
  /* RESTAU */
  .menugeneral {
    position: static;
    margin-top: -10px;
  }
  .Menu {
    border-radius: 0px;
  }
}
@media screen and (min-width: 1100px) {
  .fonctionnement {
    display: flex;
    margin: 2%;
  }
  .fonctionnement h1 {
    display: flex;
    margin-top: 10%;
    margin-right: 50px;
  }
  .filtre {
    max-width: 350px;
  }
  .filtregeneral {
    justify-content: space-between;
    width: 90%;
  }
  .restau {
    display: flex;
    flex-wrap: wrap;
  }
  .entete {
    width: 100%;
  }
  a {
    width: 48%;
    margin-right: 2%;
  }
  /* Page restau*/
  .menutitle .hearticon {
    margin-right: 0;
  }
  .plat {
    width: 30%;
    padding-left: 1%;
  }
  .vignets {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
