.vignets {
  animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari et Chrome */
  -o-animation: fadein 5s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein { /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein { /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0%;
}

header .logo {
  width: 100%;
  border-bottom: 2px solid grey;
  background-color: white;
}
header img {
  display: block;
  height: 50px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.headerfleche {
  display: flex;
}
.headerfleche .fleche {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid grey;
  color: black;
}

/* Menu*/
.menugeneral {
  width: 100%;
}
.menugeneral hr {
  width: 20%;
  margin-left: 1%;
  color: #99E2D0;
}

.imgrestau {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.Menu {
  height: 1200px;
  background-color: rgb(240, 240, 240);
  border-radius: 20px 20px 0 0;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 50%;
}

.menutitle {
  display: flex;
  justify-content: space-between;
}
.menutitle .hearticon {
  width: 20%;
  margin: auto;
  padding-left: 20%;
}

.plat {
  display: flex;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #595858;
  justify-content: space-between;
  height: 80px;
  line-height: 10%;
  padding-left: 5%;
  margin-bottom: 5%;
}

.descriptionplat {
  width: 60%;
}

.prix {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 25%;
}

.valid {
  display: flex;
  width: 20%;
  justify-content: center;
  margin: auto;
  display: none;
}

.commander {
  width: 50%;
  height: 55px;
  text-align: center;
  line-height: 100%;
  margin-top: 10%;
  display: flex;
  text-align: center;
  align-items: center;
  color: white;
  border-radius: 30px;
  background-image: linear-gradient(200deg, #9356DC 0%, #FF79DA 100%);
  height: 55px;
  padding: 5%;
  width: 200px;
  white-space: nowrap;
  margin: 4rem auto;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 15%;
}

/* Menu*/
footer {
  background-color: #595858;
  color: white;
  padding: 5% 0% 10% 5%;
  line-height: 80%;
}
footer .imglogofooter {
  width: 30%;
  filter: invert(100%);
  margin-bottom: 2%;
}

.footerligne {
  display: flex;
  align-items: center;
  height: 30px;
}
.footerligne p {
  padding-left: 10px;
}

@keyframes ldio-19p9u4j5dzi {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-19p9u4j5dzi > div > div {
  transform-origin: 50px 50px;
  animation: ldio-19p9u4j5dzi 14.2857142857s linear infinite;
  opacity: 0.62;
}

.ldio-19p9u4j5dzi > div > div > div {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  border-radius: 30px 0 0 0;
  transform-origin: 50px 50px;
}

.ldio-19p9u4j5dzi > div div:nth-child(1) {
  animation-duration: 3.5714285714s;
}

.ldio-19p9u4j5dzi > div div:nth-child(1) > div {
  background: #9356dc;
  transform: rotate(0deg);
}

.ldio-19p9u4j5dzi > div div:nth-child(2) {
  animation-duration: 4.7619047619s;
}

.ldio-19p9u4j5dzi > div div:nth-child(2) > div {
  background: #ff79da;
  transform: rotate(0deg);
}

.ldio-19p9u4j5dzi > div div:nth-child(3) {
  animation-duration: 7.1428571429s;
}

.ldio-19p9u4j5dzi > div div:nth-child(3) > div {
  background: #99e2d0;
  transform: rotate(0deg);
}

.ldio-19p9u4j5dzi > div div:nth-child(4) {
  animation-duration: 14.2857142857s;
}

.ldio-19p9u4j5dzi > div div:nth-child(4) > div {
  background: #9356dc;
  transform: rotate(0deg);
}

.loadingio-spinner-wedges-2prl2z70gyv {
  width: 44px;
  height: 44px;
  display: inline-block;
  overflow: hidden;
  background: rgb(240, 240, 240);
  padding-left: 20%;
}

.ldio-19p9u4j5dzi {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.44);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-19p9u4j5dzi div {
  box-sizing: content-box;
}

.Titres {
  background-color: rgb(239, 239, 239);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 10px 20px;
  text-align: center;
}
.Titres div {
  width: 100%;
}
.Titres .h1 {
  font-size: 3rem;
  font-weight: bolder;
}
.Titres h3 {
  font-size: 1.8rem;
  font-weight: lighter;
}
.Titres .rose {
  display: flex;
  text-align: center;
  align-items: center;
  color: white;
  border-radius: 30px;
  background-image: linear-gradient(200deg, #9356DC 0%, #FF79DA 100%);
  height: 55px;
  padding: 5%;
  width: 200px;
  white-space: nowrap;
  margin: 4rem auto;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

/*-----------------------------*/
.Load {
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 0.2s 3s forwards;
}

@keyframes fadeout {
  0% {
    transform: rotate(0deg);
    opacity: 100%;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0%;
    visibility: hidden;
  }
}
.spinner {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin 3s linear forwards;
  background: white;
  position: fixed;
  height: 100px;
  width: 100px;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*-----------------------------*/
.city {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a7a5a5;
  height: 60px;
}

.gps {
  border: none;
  background-color: #a7a5a5;
  margin-left: 12px;
  height: 40px;
  font-size: large;
  color: black;
}

.fonctionnement {
  height: 400px;
  margin: 5%;
}
.fonctionnement h1 {
  padding-left: 5%;
}

.filtre {
  display: flex;
  height: 70px;
  width: 90%;
  border-radius: 20px;
  margin-top: 10%;
  background-color: rgb(239, 239, 239);
  align-items: center;
  position: relative;
  margin-left: 5%;
  box-shadow: 5px 5px 20px #595858;
}
.filtre :hover {
  background: #FF79DA;
}
.filtre :hover .icone {
  color: #9356DC;
}

.filtre:active {
  background-color: #FF79DA;
  scale: 1.05;
  transition: 2s;
}

.bouton {
  display: flex;
  background-color: #9356DC;
  color: white;
  align-items: center;
  height: 40%;
  justify-content: center;
  position: absolute;
  left: -5%;
  width: 28px;
  padding: 0px;
  border-radius: 50%;
}

.iconechoix {
  align-items: center;
  display: flex;
  padding-left: 2%;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.icone {
  justify-content: center;
  align-items: center;
  width: 10%;
  padding-left: 5%;
}

.filtredescription {
  padding-left: 10%;
}

/*restaur cards*/
.restau {
  background-color: rgb(240, 240, 240);
  height: auto;
  padding-bottom: 5%;
}
.restau h1 {
  padding: 10% 0 0 5%;
}
.restau a {
  color: black;
  text-decoration: none;
}

.entete {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.entete div {
  width: 40%;
}

.card {
  background-color: white;
  height: 320px;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  margin-bottom: 10%;
}

.banner {
  height: 80%;
  width: 100%;
  position: relative;
}

.photo1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.nouveau {
  position: absolute;
  width: 25%;
  height: 25px;
  background-color: #99E2D0;
  top: 10%;
  right: 10%;
  text-align: center;
  border-radius: 5px;
  align-items: center;
}
.nouveau h3 {
  margin-top: 0;
  color: green;
}

.description {
  display: flex;
  height: 20%;
  justify-content: space-between;
  line-height: 30%;
  padding-left: 5%;
}

.text {
  width: 80%;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.icon2:hover {
  cursor: pointer;
  opacity: 100%;
  background: linear-gradient(162deg, #FF79DA 0%, #9356DC 100%);
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 1.3s ease-in-out;
  position: relative;
}

.material-icons {
  font-size: 24px;
  line-height: 1;
}

@media screen and (min-width: 700px) {
  header {
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    animation: color 9s infinite linear;
    margin: 0;
  }
  header .logo {
    border-bottom: none;
    margin-bottom: 0;
    animation: color 9s infinite linear;
  }
  header img {
    margin-bottom: 0;
    margin-top: 0;
  }
  .rose {
    max-width: 260px;
  }
  .filtregeneral {
    display: flex;
  }
  .fonctionnement {
    height: auto;
  }
  .fonctionnement h1 {
    width: 100%;
  }
  .nouveau {
    max-width: 100px;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    height: 250px;
  }
  footer div {
    width: 25%;
    height: 140px;
  }
  footer .divlogofooter {
    width: 100%;
  }
  footer .imglogofooter {
    display: flex;
    margin: auto;
    height: 80px;
    width: 50%;
  }
}
@keyframes color {
  0% {
    background: #9356DC;
  }
  20% {
    background: #FF79DA;
  }
  40% {
    background: #99E2D0;
  }
  60% {
    background: #FF79DA;
  }
  80% {
    background: #9356DC;
  }
  100% {
    background: #99E2D0;
  }
}
@media screen and (min-width: 1100px) {
  .fonctionnement {
    display: flex;
    margin: 2%;
  }
  .fonctionnement h1 {
    display: flex;
    color: red;
    margin-top: 10%;
    margin-right: 50px;
  }
  .filtre {
    margin: auto;
    max-width: 250px;
  }
  .filtregeneral {
    justify-content: space-between;
    width: 75%;
  }
  .restau {
    display: flex;
    flex-wrap: wrap;
  }
  .entete {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
