@media screen and (min-width: 700px)

{
    header
    {   
        width: 100%;
        height: 60px;
        margin: auto;

        .logo
        {
            border-bottom: none;
            margin-bottom: 0;
            height: 100%;
            margin: auto;
        }

        img
        {
            display: flex;
            margin-bottom:0;
            margin-top: 0;
            height: 75%;    
            margin: auto;
        }
    }

  

    .filtregeneral
    {
        display: flex;

        .filtre
        {
            margin-top: 0;
        }
    }

        




    .fonctionnement
    {
        height: auto;


        h1
        {
            width: 100%;
        }

        .iconechoix
        {
            padding-left: 10%;
        }
    }



    .nouveau
    {
        max-width: 100px;
    }





    .headerfleche
    {
        justify-content: space-between;
        padding: 0;
    }







    /* RESTAU */



    .menugeneral
    {
        position:static ;
        margin-top: -10px;
    }


    .Menu
    {
        border-radius: 0px;
    }
    
}







