header
{
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    animation: color 9s infinite linear;
    margin: 0;
    

    .logo
{
    border-bottom: none;
    margin-bottom: 0;
    animation: color 9s infinite linear;
}}