$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiers-color: #99E2D0;


*{box-sizing: border-box;}

body{
   
width: 100%;
margin: 0%;
}


@mixin miseenpage
{display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 10px 20px 10px 20px;
text-align: center;

}


header {
    
    .logo{
        width: 100%;
        border-bottom: 2px solid grey;
        background-color: white;
        
        }

    img{
        display: block;
        height: 60px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .city{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #8d8a8a;
        height: 60px;}
       
    .gps
       {
        border: none;
        background-color: #8d8a8a;
        margin-left: 12px;
        height: 40px;
        font-size: large;
        color: black;
        
       }
    
}



.Titres
    {
    background-color: rgb(239, 239, 239) ;
        
    div{width: 100%;
    }

    .h1 {font-size:3rem ;
        font-weight: bolder ;
    }

    h3{
        font-size: 1.8rem;
        font-weight: lighter;
    }

    p{
        border: 1px solid red;
        padding: 5%;
        border-radius: 30px;
        background-image: linear-gradient(150deg, $secondary-color, $primary-color );
        
        
    }
    
    @include miseenpage
}

.restau{
    background-color: rgb(239, 239, 239);
    height: 500px;
}

.card
{background-color: white;
    height: 200px;
width: 80%;
height: auto;
margin: auto;

border-radius: 20px;}

.banner
{height: 90%;
width: 100%;
position: relative;}




.photo1
{   width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    
}

.nouveau
{position: absolute;
width: 25%;
height: 20%;
background-color: #99E2D0;
top: 10%;
right: 10%;
text-align: center;
border-radius: 5px;


}

.description
{display: flex;
    height: 10%;
justify-content: space-between
;}


.text
{width: 80%;}

.icon
{padding-top: 7%;
padding-left: 2%;
width: 20%;
height: 100%;}
