.city{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a7a5a5;
    height: 60px;}
   
.gps
   {
    border: none;
    background-color: #a7a5a5;
    margin-left: 12px;
    height: 40px;
    font-size: large;
    color: black;
   }
