.city{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: RGB(234, 234, 234);
    height: 60px;
    
}
    
   
.gps
   {
    border: none;
    background-color: RGB(234, 234, 234);
    margin-left: 12px;
    height: 40px;
    font-size: large;
    color: black;
   }
