.Titres
    {
    background-color: rgb(239, 239, 239) ;
        
    div{width: 100%;
    }

    .h1 {font-size:3rem ;
        font-weight: bolder ;
    }

    h3{
        font-size: 1.8rem;
        font-weight: lighter;
    }

    .rose{
        @include btnrose;
    }
    
    @include miseenpage
}
/*-----------------------------*/

.Load{
background: white;
position: fixed;
height: 100%;
width: 100%;
top: 0;
z-index: 100;
display: flex;
justify-content: center;
align-items: center;
animation: fadeout 0.2s 3s forwards;
}

@keyframes fadeout{
    0%{transform: rotate(0deg);
        opacity: 100%;}
    100%{transform: rotate(360deg);
    opacity: 0%;
visibility: hidden;}
}

.spinner
{
    border: 10px solid #f3f3f3;
    border-top: 10px solid $primary-color;
    border-bottom: 10px solid $secondary-color;
    
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    animation: spin 3s linear forwards;

    background: white;
position: fixed;
height: 100px;
width: 100px;
top: 0;
z-index: 100;
display: flex;
justify-content: center;
align-items: center;
}

@keyframes spin{
    0%{transform: rotate(0deg);
        }
    100%{transform: rotate(360deg);
    }
}

/*-----------------------------*/
.city{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a7a5a5;
    height: 60px;}
   
.gps
   {
    border: none;
    background-color: #a7a5a5;
    margin-left: 12px;
    height: 40px;
    font-size: large;
    color: black;
    
   }





.fonctionnement
{height: 400px;
margin: 5%;

    h1{padding-left: 5%;}
}


.filtre
{
    display: flex;
    height: 70px;
    width: 90%;
    border-radius: 20px;
    margin-top: 10%;
    background-color:rgb(239, 239, 239);
    align-items: center;
    position: relative;
    margin-left: 5%;
    box-shadow: 5px 5px 20px #595858 ;
    
    :hover{background: $secondary-color;

    .icone{color: $primary-color;}
    }

}


.filtre:active{
    background-color:$secondary-color;
    scale:1.05; 
    transition: 2s;
}


.bouton
{   display: flex;
    background-color: $primary-color;
    color:white;
    align-items: center;
    height: 40%;
    justify-content: center;
    position: absolute;
    left:-5%;
    width: 28px;
    padding: 0px;
    border-radius: 50%;

}

.iconechoix
{   
    align-items: center;
    display: flex;
    padding-left: 2%;
    width: 100%;
    height: 100%;
    border-radius: 20px;
   
}




.icone
{justify-content: center;
align-items: center;
width: 10%;
padding-left: 5%;

}


.filtredescription
{
    padding-left: 10%;
}



/*restaur cards*/

.restau
{
    background-color: rgb(240, 240, 240);
    height: auto;
    padding-bottom: 5%;

    h1
    {
        padding: 10% 0 0 5%;
    }

    a{color: black;
    text-decoration: none;}
}


.entete
{display: flex;
    align-items: center;
    justify-content: space-between;

    div{width: 40%;}
}


.card
{
    background-color: white;
    height: 320px;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 10%;
}

.banner
{height: 80%;
width: 100%;
position: relative;}




.photo1
{   width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    
}

.nouveau
{position: absolute;
width: 25%;
height: 25px;
background-color: #99E2D0;
top: 10%;
right: 10%;
text-align: center;
border-radius: 5px;
align-items: center;
    
    h3 
    {
        margin-top: 0;
        color: green;
    }


}



.description
{display: flex;
height: 20%;
justify-content: space-between;
line-height: 30%;
padding-left: 5%;}


.text
{width: 80%;}

.icon
{display: flex;
align-items: center;
justify-content: center;
width: 20%;
height: 100%;}



.icon2:hover
{cursor: pointer;
    opacity: 100%;
    background: linear-gradient(162deg, $secondary-color 0%, $primary-color 100%);
      background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
    transition: opacity 1.3s ease-in-out;
    position: relative;}

.material-icons {
    
    
    font-size: 24px;
    line-height: 1;
    
  
    
  
  }