.menugeneral
{
    width: 100%;
    position: relative;
    margin-top: -10%;

    

    hr
    {   
        width: 20%;
        margin-left: 1%;
        color: $tertiers-color;
    }
}




.imgrestau
{
    width: 100%;
    height: 250px;
    object-fit: cover;
}



.menutitle
{
    display: flex;
    

    .hearticon{
        width: 20%;
        margin: auto;
        padding-left: 15%;
        padding-right: 2%;
    }
}
.plat
{
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 10px #595858 ;
    justify-content: space-between;
    height: 80px;
    line-height: 10%;
    padding-left: 5%;
    margin-bottom: 5%;
}

.descriptionplat
{   display: flex;
    flex-direction: column;
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
}

.prix{
    
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 20%;
    padding-right: 2%;
}

.valid
{  background-color: $tertiers-color;
    margin: -20%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 1s;
}

.plat:hover 
{
    .valid__rotate{
    transform: rotate(360deg);
    transition-duration: 1s;
    }
}



.plat:hover{

    .valid
    {
    margin: 0;}
}





.descriptionplat:active
{
    
    .valid{display: flex;}
} 
