.menugeneral
{
    width: 100%;
    position: relative;
    margin-top: -10%;

    

    hr
    {   
        width: 20%;
        margin-left: 1%;
        color: $tertiers-color;
    }
}




.imgrestau
{
    width: 100%;
    height: 250px;
    object-fit: cover;
}



.menutitle
{
    display: flex;
    

    .hearticon{
        width: 20%;
        margin: auto;
        padding-left: 15%;
        padding-right: 2%;
    }
}
.plat
{
    display: flex;
    background-color: white;
    border-radius: 20px;
    
    box-shadow: 5px 5px 10px #595858 ;
    justify-content: space-between;
    height: 80px;
    line-height: 10%;
    padding-left: 5%;
    margin-bottom: 5%;
}

.descriptionplat
{   display: flex;
    flex-direction: column;
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
}

.prix{
    
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 25%;
}

.valid
{   display: flex;
    width: 20%;
    justify-content: center;
    margin: auto;
    display: none;
}


.plat:hover{

    .valid
    {display: flex;}
}





.descriptionplat:active
{
    background:red;
    .valid{display: flex;}
} 

