@mixin miseenpage
{display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 10px 20px 10px 20px;
text-align: center;
}

@mixin header
{
    .logo{
        width: 100%;
        border-bottom: 2px solid grey;
        background-color: white;
        
        }

    img{
        display: block;
        height: 50px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@mixin headerfleche
{
    display: flex;

    .fleche{
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid grey;
        
        color: black;
        
    }
}

@mixin btnrose
{   border: 1px solid red;
    text-align: center;
    border-radius: 30px;
    background-image: linear-gradient(150deg, $secondary-color, $primary-color );
    margin:auto;
    height: 55px;
    
}




@mixin footer
{
    background-color: #595858;
    color: white;
    padding: 5% 0% 10% 5%;
    line-height: 80%;


    .imglogofooter
    {
    width: 30%;
    filter: invert(100%);
    margin-bottom: 2%;
    
    }
}