@mixin miseenpage
{display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 10px 20px 10px 20px;
text-align: center;
}

@mixin header
{
    .logo{
        width: 100%;
        border-bottom: 2px solid grey;
        background-color: white;
        
        }

    img{
        display: block;
        height: 40px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@mixin headerfleche
{
    display: flex;

    .fleche{
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid grey;
        text-decoration: none;
        color: black;
    .fa-arrow-left
    {
        color: black;
    }
        
    }
}

@mixin btnrose
{   display: flex;
    text-align:center;
    align-items: center;
    color: white;
    border-radius: 30px;
    background: linear-gradient(200deg, $primary-color 0%, $secondary-color 100%);
    
    padding: 18px;
    width: auto;
    white-space: nowrap;
    margin: 4rem auto;
    border-radius: 30px;
    cursor: pointer;
  
    
}








@mixin footer
{
    background-color: #595858;
    color: white;
    padding: 5% 0% 5% 5%;
    line-height: 80%;
    height: auto;


    .imglogofooter
    {
    width: 150px;
    filter: invert(100%);
    margin-bottom: 2%;
    }

    a {
        text-decoration: none;
        color: white;
    }
}