@mixin miseenpage
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

@mixin header
{
    .logo
    {
        display: flex;
        width: 100%;
        background-color: white;
        margin: auto;
    }

    img
    {
        display: flex;
        height: 40px;
        width: 200px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}

@mixin headerfleche
{
    display: flex;

    header
    {
        height: 50px;
    }

    .logo
    {
        margin-left: 5%;
        margin-right: 15%;
        padding-top: 10px;
        padding-bottom: 10px
    }

    .fleche
    {
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
    
        .fa-arrow-left
        {
        color: black;
        }
    }
}

@mixin btnrose
{   
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0px;
    background: linear-gradient(200deg, $primary-color 0%, $secondary-color 100%);
    padding: 18px;
    width: auto;
    max-width: 200px;
    margin: auto;
    border-radius: 30px;
    cursor: pointer;
}








@mixin footer
{
    background-color: #595858;
    color: white;
    padding: 5% 0% 5% 5%;
    line-height: 80%;
    height: auto;
    


    .imglogofooter
    {
    width: 150px;
    filter: invert(100%);
    margin-bottom: 2%;
    }

    a 
    {
        text-decoration: none;
        color: white;
    }
}


@mixin brightness
{
    filter:brightness(1.15);
    box-shadow: grey 8px 8px 20px;
}